<section ng-controller="mainController as mainController">
<h1>What's Growing</h1>
<!-- <p>{{gardenData[0]._id}}</p> -->
<p>{{gardenData[0].plants[0].plant_type}}</p>

</section>

<div class='container text-left'>
  <div class='row'>
    <h1>Add Garden</h1>
  </div>
</div> 

<form ng-controller="mainController" class="add-garden" ng-submit='addGarden()'>
        <div>
          <label>Plant Type</label>
          <input type="text" id="plant-type" placeholder="tomato" ng-model='mainController.newGarden.plants.plant_type'>
        </div>

        <div>
       	  <label>Plant Variety</label>
          <input type="text" id="plant-variety" placeholder="Sun Gold" ng-model='mainController.newGarden.plants.plant_variety'>
        </div>

        <div>
          <label>Quanity Planted</label>
          <input type="number" id="qty-planted" placeholder="3" ng-model='mainController.newGarden.plants.qty_planted'>
        </div>

        <div>
          <label>Date Planted</label>
          <input type="date" id="date-planted" placeholder="date planted" ng-model='mainController.newGarden.plants.date_planted'>
        </div>

        <div>
          <input type="submit" value="Add Garden">
        </div>
</form>

