<div class="col-md-12" id="accordion" role="tablist" aria-multiselectable="true">
  	<div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <strong><h2 class="text-center">VIEW WHAT'S GROWING</h2></strong>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse out" role="tabpanel" href="#" aria-labelledby="headingOne">
	  <div class="table-responsive">	
		<table class="table">
		  <thead>
		    <tr>
		      <th>Plant Type</th>
		      <th>Plant Variety</th>
		      <th># Planted</th>
		      <th>Date Planted</th>
		      <th>Last Harvest Date</th>
		      <th>Amount Harvested</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody ng-repeat='garden in gardenData'>
		    <tr ng-repeat='plant in garden.plants'>
		      <td>{{plant.plant_type}}</td>
		      <td>{{plant.plant_variety}}</td>
		      <td>{{plant.qty_planted}}</td>
		      <td>{{plant.date_planted}}</td>
		      <td>{{plant.harvest_dates[0]}}</td>
		      <td>{{plant.harvest_qty[0]}}</td>
		      <td><button ng-click='deletePlant(garden._id)'>Delete</button></td>
		    </tr>
		  </tbody>
		</table>
	  </div>
	</div>
  </div>