<div ng-controller="mainController as mainController">
	<table class="table table-sm" >
	  <thead>
	    <tr>
	      <th>Plant Type</th>
	      <th>Plant Variety</th>
	      <th># Planted</th>
	      <th>Date Planted</th>
	      <th>Last Harvest Date</th>
	      <th>Amount Harvested</th>
	    </tr>
	  </thead>
	  <tbody ng-repeat='garden in gardenData'>
	    <tr ng-repeat='plant in garden.plants'>
	      <td>{{plant.plant_type}}</td>
	      <td>{{plant.plant_variety}}</td>
	      <td>{{plant.qty_planted}}</td>
	      <td>{{plant.date_planted}}</td>
	      <td>{{plant.harvest_dates.last}}</td>
	      <td>{{plant.harvest_qty.last}}</td>
	    </tr>
	  </tbody>
	</table>

<!-- <p>{{gardenData[0].plants[0].plant_type}}</p> -->
<div class='container'>
	<div class='row col-md-5'>
		<h1>Add Plants</h1>
	</div>
</div> 

<form ng-controller="mainController" class="form-horizontal" ng-submit='addGarden()'>
	<fieldset class="text-left">
        <div class="form-group">
          <label class="col-md-2 control-label text-left" for="textinput">Plant Type</label>
          <div class="col-md-3">
            <input type="text" id="plant-type" placeholder="tomato" ng-model='newGarden.plants.plant_type' class="form-control">
          </div>
        </div>

        <div class="form-group">
       	  <label class="col-md-2 control-label text-left" for="textinput">Plant Variety</label>
          <div class="col-md-3">
          	<input type="text" id="plant-variety" placeholder="Sun Gold" ng-model='newGarden.plants.plant_variety' class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label text-left" for="textinput">Quanity Planted</label>
          <div class="col-md-3">
            <input type="number" id="qty-planted" placeholder="3" ng-model='newGarden.plants.qty_planted' class="form-control">
			</div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label text-left" for="textinput">Date Planted</label>
          <div class="col-md-3">
            <input type="date" id="date-planted" placeholder="date planted" ng-model='newGarden.plants.date_planted'>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label text-left" for="textinput">Comments</label>
          <div class="col-md-2">
			<input type="textarea" id="comments" ng-model='newGarden.comments'>
		  </div>
        </div>

      <!--   <div>
          <input type="submit" value="Add Garden">
        </div> -->

		<div class="form-group">
		  <label class="col-md-2 control-label" for="singlebutton"></label>
		  <div class="col-md-3">
		    <button id="singlebutton" name="singlebutton" class="btn btn-inverse" type='submit' value="Add Garden">Add to Garden</button>
  		  </div>
		</div>

    </fieldset>  <!--   <span>{{newGarden}}</span> -->
</form>

